<!DOCTYPE html>
<html>
<head>
    <title>eTest</title>
</head>
<body>

<h1>eTest - Online Examination System</h1>

<h2>Student</h2>

<a href="{% url 'student_login' %}">
    <button>Student Login</button>
</a>

<a href="{% url 'create_account' %}">
    <button>Create Student Account</button>
</a>

<br><br>

<h2>Admin</h2>

<a href="{% url 'admin_login' %}">
    <button>Admin Login</button>
</a>

<a href="{% url 'create_account' %}">
    <button>Create Admin Account</button>
</a>

</body>
</html>